:root {
  --font-family-main: Arial, Helvetica, sans-serif;

  --font-size-s: 16px;
  --font-line-s: 24px;

  --font-size-m: 24px;
  --font-line-m: 32px;

  --font-size-l: 32px;
  --font-line-l: 40px;
}
